@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Me</h2>
<hr />

<p>Hi hooman! I'm Angie, I didnt have much time to develop this page, but I thought you might wanna check out my cat's Facebook Page, you may look for me there too.</p>
<hr />

<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fmsladycarcar%2F&tabs=about&width=500&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=188579615096461" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>