@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Angie</h3>
<hr />

<div>
    Hey! Thanks for clicking into here, please tell me how should I improve this App!
</div>
<hr />

<address>
    Kuala Lumpur,<br />
    Malaysia.<br />
    <abbr title="Phone">P: </abbr>+60 169496233
</address>

<address>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/dolphinbb30">Angie</a><br />
    <strong>Email:</strong>   <a href="mailto:looanngie@yahoo.com">looanngie@yahoo.com</a><br />
</address>