body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

textarea {
    min-height: 320px;
    max-width: 945px;
}

.red {
    background-color: rgba(255,0,0,0.5);
}

.green {
    background-color: rgba(0,255,0,0.5);
}

fontSize14px {
    font-size: 14px !important;
}

fontSize0 {
    font-size: 0;
}

a .colorGray {
    color: gray;
    text-decoration: underline;
}

a.colorBlack {
    color: black !important;
    text-decoration: underline;
}

.highlight {
    background-color: yellow;
}

.cursorPointer {
    cursor: pointer;
}

.isabelline {
    background-color: #F9E9F0 !important;
}

.mistyRose {
    background-color: #FFE7E7 !important;
}

.whiteSmoke {
    background-color: #E9F6F6 !important;
}

.nyanza {
    background-color: #E7FFE7 !important;
}

tr:hover {
    background-color: #F9F9F8 !important;
}
